<div class="container">
  <header>
    <img src="/assets/imgs/logo.png" alt="Logo" />
    <h2>Pass Manager</h2>
  </header>

  <main>
    <h2>Bem vindo!</h2>
    <p class="insertData">Complete seus dados para cadastrar-se</p>

    <form [formGroup]="form">
      <div class="inputContainer">
        <label for="email">Email:</label>
        <input
          id="email"
          class="singInInput"
          type="text"
          placeholder="Insira seu email"
          formControlName="email"
        />
      </div>
      <div
        class="erroCase"
        *ngIf="
          form.controls['email'].invalid &&
          (form.controls['email'].dirty || form.controls['email'].touched)
        "
      >
        <span
          >O campo email é obrigatório e necessário <br />
          que seja um email existente</span
        >
      </div>

      <div class="inputContainer">
        <label for="username">Usuário:</label>
        <input
          id="username"
          class="singInInput"
          type="text"
          placeholder="Insira seu nome de usuário"
          formControlName="username"
        />
      </div>
      <div
        class="erroCase"
        *ngIf="
          form.controls['username'].invalid &&
          (form.controls['username'].dirty || form.controls['username'].touched)
        "
      >
        <span>O campo Usuário é obrigatório</span>
      </div>

      <div class="passwordContainer">
        <label for="password">Senha:</label>
        <input
          [type]="hide ? 'password' : 'text'"
          id="password"
          class="singInInput"
          placeholder="Insira sua senha"
          formControlName="password"
        />
        <button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <img
            src="{{
              hide ? '/assets/icons/eye-slash.svg' : '/assets/icons/eye.svg'
            }}"
            alt=""
          />
        </button>
      </div>
      <div
        class="erroCase"
        *ngIf="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
      >
        <span
          >A senha tem que ter no minimo 6 caracteres e que ter <br />no minimo
          uma letra minúscula, uma letra maiúscula <br />
          e um caracter especial</span
        >
      </div>

      <div class="passwordContainer">
        <label for="confirm">Confirme sua senha:</label>
        <input
          [type]="hide2 ? 'password' : 'text'"
          id="confirm"
          class="singInInput"
          placeholder="Cofirme sua senha"
          formControlName="confirm"
        />
        <button
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <img
            src="{{
              hide2 ? '/assets/icons/eye-slash.svg' : '/assets/icons/eye.svg'
            }}"
            alt=""
          />
        </button>
      </div>

      <div
        class="erroCase"
        *ngIf="
          form.controls['confirm'].invalid &&
          (form.controls['confirm'].dirty || form.controls['confirm'].touched)
        "
      >
        <span>É obrigatorio confirmar a senha corretamente</span>
      </div>

      <div class="regiterContainer">
        <button (click)="register()">Entre</button>
        <p class="register">
          Já tem uma conta? <a routerLink="/auth/sign-in">Entre</a>
        </p>
      </div>
    </form>
  </main>
</div>
