<div class="container">
  <header>
    <div class="dropdown">
      <div class="dropdown-container">
        <img
          src="/assets/imgs/UserCircle.png"
          alt="Editar Perfil"
          class="dropdown-toggle"
          (click)="toggleDropdown()"
        />
        <div class="dropdown-menu" id="dropdownMenu" [ngClass]="{'show': dropdownOpen}">
          <button class="dropdown-item" [routerLink]="['/user/edit-profile', userId]">Editar Perfil</button>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </div>

      </div>
    </div>


    <img src="/assets/imgs/logo.png" alt="Pass Manager Logo" />
  </header>

  <main>
    <div class="apresentation">
      <h2>Todas as senhas</h2>
      <h4>Atualmente você tem {{ credentialList.length }} senha(s).</h4>
    </div>

    <div class="list" *ngFor="let credentialItem of credentialList">
      <div class="credential" [routerLink]="['/credential/edit', credentialItem.id]">
        <img
          class="credentialImg"
          src="/assets/imgs/credentialIcon.png"
          alt="Logo de senha"
        />

        <div class="credentialInfo">
          <p>{{ credentialItem.websiteName }}</p>
          <span>{{ credentialItem.emailCredential }}</span>
        </div>

        <img
          src="/assets/imgs/ArrowSquareOut.png"
          alt="Ver informações da senha"
          [routerLink]="['/credential/edit', credentialItem.id]"
        />
      </div>
    </div>

    <div class="noCredentials" *ngIf="credentialList.length == 0">
      <h4>Não há registros senhas cadastradas</h4>
    </div>

    <button routerLink="/credential/register">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none" />
        <line
          x1="40"
          y1="128"
          x2="216"
          y2="128"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"
        />
        <line
          x1="128"
          y1="40"
          x2="128"
          y2="216"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"
        />
      </svg>
    </button>
  </main>
</div>
