<div class="container">
  <header>
    <img
      class="back"
      routerLink="/credential/list"
      src="/assets/icons/back.svg"
      alt="voltar"
    />

    <img
      src="/assets/imgs/logo.png"
      routerLink="/credential/list"
      alt="Pass Manger Logo"
    />
  </header>

  <main>
    <img src="/assets/imgs/passwordBox.png" alt="Icone de senha" />

    <form [formGroup]="form">
      <div class="inputContainer">
        <label>Email:</label>
        <input type="text" formControlName="emailCredential" />
      </div>

      <div class="inputContainer">
        <label>Usuário:</label>
        <input type="text" formControlName="usernameCredential" />
      </div>

      <div class="inputContainer">
        <label>Senha:</label>
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="credentialPassword"
        />
        <button
          class="hideButton"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <img
            src="{{
              hide ? '/assets/icons/eye-slash.svg' : '/assets/icons/eye.svg'
            }}"
            alt=""
          />
        </button>
      </div>
      <div
        class="erroCase"
        *ngIf="
          form.controls['credentialPassword'].invalid &&
          (form.controls['credentialPassword'].dirty ||
            form.controls['credentialPassword'].touched)
        "
      >
        <span>O campo senha é obrigatório</span>
      </div>

      <div class="inputContainer">
        <label>Nome do Website:</label>
        <input type="text" formControlName="websiteName" />
      </div>

      <div class="inputContainer">
        <label>Website:</label>
        <input type="text" formControlName="websiteUrl" />
      </div>

      <button (click)="createCredential()">Salvar</button>
    </form>
  </main>
</div>
