<div class="container">
  <header>
    <img
      class="back"
      routerLink="/credential/list"
      src="/assets/icons/back.svg"
      alt="voltar"
    />

    <img
      src="/assets/imgs/logo.png"
      routerLink="/credential/list"
      alt="Pass Manger Logo"
    />
  </header>

  <main *ngIf="credential">
    <div class="credentialInfons">
      <img src="/assets/imgs/passwordBox.png" alt="" />

      <div class="info">
        <h4>{{ credential.websiteName }}</h4>
        <p>{{ credential.emailCredential }}</p>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="inputContainer">
        <label>Email:</label>
        <input
          type="text"
          placeholder="{{ credential.emailCredential }}"
          formControlName="emailCredential"
        />
      </div>

      <div class="inputContainer">
        <label>Usuário:</label>
        <input type="text" formControlName="usernameCredential" />
      </div>

      <div class="inputContainer copyText">
        <label>Senha:</label>
        <input
          #credentialPassword
          [type]="hide ? 'password' : 'text'"
          formControlName="credentialPassword"
        />

        <button
          class="hideButton"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <img
            src="{{
              hide ? '/assets/icons/eye-slash.svg' : '/assets/icons/eye.svg'
            }}"
            alt=""
          />
        </button>
        <button (click)="copyText(credentialPassword.value)" class="copy">
          <img src="/assets/icons/copy.svg" alt="Copiar" />
        </button>
      </div>

      <div class="inputContainer">
        <label>Nome do Website:</label>
        <input
          type="text"
          placeholder="{{ credential.websiteName }}"
          formControlName="websiteName"
        />
      </div>

      <div class="inputContainer">
        <label>Website:</label>
        <input
          type="text"
          placeholder="{{ credential.websiteUrl }}"
          formControlName="websiteUrl"
        />
      </div>

      <div class="buttonContainer">
        <button class="delete" (click)="deleteCredential(credential)">
          Deletar
        </button>
        <button class="save" (click)="updateCredential()">Salvar</button>
      </div>
    </form>
  </main>
</div>
